html, body {
    background: #111 !important;
    color: #eee !important;
}

*:not(img):not(video):not(svg) {
    background-color: #111 !important;
    color: #eee !important;
    border-color: #444 !important;
}

a {
    color: #80a0ff !important;
}
